.registration-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #f5f5f5;
  }

  .registration-page h2 {
    color: #333;
  }
  
  .registration-page .form-group {
    margin: 10px 20px 10px 0px;
  }
  
  .registration-page label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .registration-page input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .registration-page input:focus {
    border-color: #007bff;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
  }
  
  .register-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .register-btn:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  